---
// src/pages/thank-you.astro
import Layout from "../layouts/Layout.astro";
---

<Layout title="Thank You | Vaughn Cyber Group">
  <main class="flex items-center justify-center min-h-[60vh] text-center px-6">
    <div>
      <h1 class="text-4xl font-bold mb-4 text-[rgb(var(--heading-1))]">Thanks for reaching out!</h1>
      <p class="text-lg text-[rgb(var(--heading-2))] max-w-xl mx-auto">
        We’ve received your message and will get back to you as soon as possible.
      </p>
    </div>
  </main>
</Layout>
