---
export interface Props {
  title: string;
}
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-[rgb(var(--color-bg))] text-[rgb(var(--heading-1))] flex items-center justify-center min-h-screen">
    <slot />
  </body>
</html>
